
  #body{
  
  font-family:monospace;
}


.more-about{
  
    font-family:fantasy;
}



.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.74rem;
    margin: auto;
  }
  .hero img {
    height: 37.5rem;
    width: 37.5rem;
  }
  
  .bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 13px 2px var(--primary-shado);
  }
  
  .bio h1 {
    margin-bottom: var(--bottom-margin);
  }
  
  .bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
  }
  
  
  .more-about {
    background-color: var(--bg-color);
    padding: 1rem 6rem;
  }

  @media only screen and (min-width: 900px) {
   

      .more-about{
    
        margin: auto;
width: 65%;
padding: 10px;  
margin-top:70px;  


box-shadow: 0px 2px 15px 2px var(--primary-shado);
            
      }


   #edu{


    background-color: var(--bg-color);
    margin: auto;
    margin-top:70px;
    padding-left: 340px;
    font-size:19px; 
    
   }

 


  }

@media only screen and (min-width: 750px) {
   
     #body{
    
       display:none;
  }
  
   
  
}








@media only screen and (max-width: 750px) {
    .navigation{
    
     display:none;
  }
  
  #body{
    
    position:sticky;
    top:0;
    left:0;
    
    
    
  }
  
  

  
  nav{
    display:none;
  }
  
   #one{
       
    display:none;
  }
  
  .hero img{
    width:100%;
    height:auto;
  }
  .bio{
    width:20rem;
  }
  
  nav {
    
    display:none;
    
  }
  
  h2{

color:red;
}

  
#menu{
display:none;


top:0;
left:0;

}

    
     
  
  #show{
    
    font-size:25px;
    position:fixed;
    
  }

  
#hide{

display:none;
 font-size:35px;
  position:fixed;
}
  
 
 

li{
display:block;
list-style-type:none;
text-align:center;
padding-top:3px;
color:#877777;
font-size:20px;
font-style: oblique;
  

}
a{
text-decoration:none;
color:#877777;

}
  
  
    
}

 

  
  .more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
  }
  
  .more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
  }
  .skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .skill-header {
    margin-bottom: 1rem;
    padding-top: 20px;
  }
  
  .skills-wrapper img {
    padding: 1.25rem;
  }
  
  .icon {
    width: 11.875rem;
    height: 11.25rem;
  }
  
  .column-2a {
    float: left;
    width: 45%;
    padding: 40px;
    padding-left:70px;
    padding-right: 70px;
    padding-bottom:60px;
    height:450px;
    margin:30px;
    margin-right:30px;
    margin-bottom: 40px;
    background-color:white;
   
    
box-shadow: 0px 2px 15px 2px var(--primary-shado);
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
  
  /* Variables */
  :root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
  }
  /* Variables end */
  
  html {
    scroll-behavior: smooth;
  }
  
  /* CSS Resets */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  a:hover {
    color: var(--secondary-color);
  }
  
  body {
    font-family: var(--font-family);
  }
  
  
  nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
  nav h1 {
    color: var(--primary-color);
  }
  
  nav a {
    color: var(--primary-color);
    transition: var(--transition);
  }
  nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }
  
  nav ul {
    display: flex;
    gap: 2.5rem;
  }
  
  nav ul li {
    font-weight: var(--bold-font);
  }
  .burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }
  
  .navigation{
      padding: 5px;
  }
  .bold{
    font-size:17px;
    font-family:sans-serf;
    color:#4756df;
  }
  
  .more-about{
     box-shadow: 10px 10px 5px lightblue;

  }